{% extends "splitpane.html" %}

{%block title%}Brett van Zuiden | Projects{%endblock%}

{%block contentpane%}
<div class="index-intro">
    <p>
        I like building all sorts of things, mostly to play around with concepts I think are interesting or solve some small need.
    </p>
</div>
<div class="projects">
    {% for project in projects%}
    <article>
        <h2 {%if not project.visible%}class="unpublished"{%endif%}>
            <a href="{{project.get_absolute_url}}">{{project.title}}</a>
        </h2>
        <time class="pubdate" datetime="{{project.pubdate|date:"Y-m-d"}}">{{project.pubdate|date:"F jS, Y"}}</time>
        <p class="preview">
            {{project.preview_content|safe}}
            <a class="readmore" href="{{project.get_absolute_url}}">Read more &rsaquo;</a>
        </p>
    </article>
    {% endfor %}
</div>
{%endblock%}
