{% extends "splitpane.html" %}

{%block title%}Brett van Zuiden | {{project.title}}{%endblock%}

{%block description%} {{project.tagline}} {%endblock%}

{%block og_tags%}
<meta name="og:title" content="{{project.title}}" />
<meta name="og:desription" content="{{project.tagline}}" />
<meta name="og:url" content="https://brettcvz.com{{project.get_absolute_url}}" />
<meta name="og:image" content="{{project.image}}" />
{%endblock%}

{%block contentpane%}
<article class="project">
    <h1 {%if not project.visible%}class="unpublished"{%endif%}>{{project.title}}</h1>
    <time class="pubdate" datetime="{{project.pubdate|date:"Y-m-d"}}">{{project.pubdate|date:"F jS, Y"}}</time>
    {{project.content|safe}}
    {%if perms.project.can_edit%}
    <p><a href="/admin/projects/project/{{project.id}}" target="edit_{{project.id}}">Edit Project</a></p>
    {%endif%}
</article>
{%endblock%}
