{% extends "base.html" %}

{%block body%}
<nav>
{%block nav%}
<ul>
    {%block breadcrumbs%}
    <li><a href="{%url 'home'%}">
            <img class="icon" src="http://www.gravatar.com/avatar/3ccacf24c4f98c47c5346f6d09135d9c.png&s=40" alt="A picture of me">
            <span class="entry">Brettcvz</span>
    </a></li>
    <li><a href="{%url 'posts:index'%}">
            <span class="entry">Posts</span>
    </a></li>
    {%endblock%}
</ul>
{%endblock%}
</nav>
<div id="content">
    <div class="leftpane fadein">
        {%block leftpane%}
        {%endblock%}
    </div>
    <div class="sidepane fadein">
        <h3>Brett van Zuiden</h3>
        <h4>Maker, hobbyist, optimist</h4>
        <ul class="info">
            <li>I work as a Product Manager at <a href="http://ifttt.com">IFTTT</a>.</li>
            <li>I founded <a href="http://filepicker.io">Filepicker.io</a>, part of YC S12.</li>
            <li>Contact me at <a href="mailto:brettcvz@gmail.com">brettcvz@gmail.com</a></li>
        </p>
    </div>
</div>
{%endblock%}
