{% extends "splitpane.html" %}

{%block title%}Brett van Zuiden | {{post.title}}{%endblock%}

{%block description%} {{post.clean_preview}} {%endblock%}

{%block og_tags%}
<meta name="og:title" content="{{post.title}}" />
<meta name="og:desription" content="{{post.preview}}" />
{%endblock%}

{%block contentpane%}
<article class="post">
    <h1 {%if not post.visible%}class="unpublished"{%endif%}>{{post.title}}</h1>
    <time class="pubdate" datetime="{{post.pubdate|date:"Y-m-d"}}">{{post.pubdate|date:"F jS, Y"}}</time>
    {{post.content|safe|linebreaks}}
    {%if perms.posts.can_edit%}
    <p><a href="/admin/posts/post/{{post.id}}" target="edit_{{post.id}}">Edit Post</a></p>
    {%endif%}
</article>
{%endblock%}
