html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited { color: #000; }
a:hover { color: #0CA5B0; }

.fadein {
    animation: fadein 0.75s;
    -moz-animation: fadein 0.75s; /* Firefox */
    -webkit-animation: fadein 0.75s; /* Safari and Chrome */
}

.center {
    text-align: center;
}

p, span, h1, h2, h3, h4, h5, h6, div {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

@-webkit-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
@-moz-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
@keyframes fadein {from { opacity: 0; } to { opacity: 1; }}

footer, .push {
    height: 20px;
}

footer {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #AAA;
    font-size: 16px;
}

.wrapper {
    /*negative margin for footer*/
    margin: 0 auto -20px;
    min-height: 100%;
}

/*BLOCK Homepage*/
#content {
    width: 800px;
    margin: auto;
}

#opener {
    padding: 80px 0;
}

#opener .headshot {
    display: inline-block;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

#intro {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;

    font-size: 32px;
    line-height: 45px;

    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 75px;
    width: 500px;
}

#intro strong {
    font-weight: 600;
}

.segment {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 40px 0;
}

.segment a {
  font-weight: 300;
}

.segment a.more {
    font-weight: 400;
    clear: both;
    display: block;
}

.segment h2 {
    width: 175px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-weight: 600;
    line-height: 36px;
}

.segment h2 a {
  font-weight: 600;
}

.segment .details {
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    max-width: 620px;
}

.segment ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-points li {
    font-weight: 300;
    margin: 0px 0 5px;
}

#main-points a {
    font-weight: 300;
}

#top-posts h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

#top-posts li {
    margin-bottom: 25px;
}

#top-posts p {
    padding: 0px 00px;
    margin: 0;
    line-height: 24px;
    font-size: 18px;
    font-family: 'Neuton', serif;
    font-weight: 200;
}

#top-projects li {
    float: left;
    width: 280px;
    margin: 0 25px 15px 0;
}

#top-projects h4 {
    margin: 0;
    font-weight: 400;
}
#top-projects p {
    margin: 0;
    font-size: 18px;
    line-height: 24px
}

#top-projects img {
    width: 280px;
    height: 150px;
}

#contact a {
    font-weight: 300;
}
/*ENDBLOCK Homepage*/

/*BLOCK Nav
nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    width: 800px;
    margin: 0 auto;
    height: 75px;
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
    margin-right: 10px;
}

nav .entry {
    padding-right: 10px;
    border-right: 1px solid #333;
}

nav li:last-child .entry {
    border-right: none;
}

nav .icon {
    width: 40px;
    vertical-align: middle;
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}
/*ENDBLOCK Nav*/
/*BLOCK Sidepane*/
.sidepane {
    width: 185px;
    display: inline-block;
    vertical-align: top;
    margin-right: 85px;
    padding: 15px 0;
    margin-top: 40px;
}

.sidepane .headshot {
    border-radius: 50px;
    width: 75px;
    height: 75px;
    margin: auto;
}

.sidepane h3 {
    margin: 5px 0;
    font-size: 24px;
    font-weight: 400;
}

.sidepane h4 {
    margin: 0;
}

.sidepane .info {
    margin: 20px 0;
    padding: 0;
    line-height: 24px;
    font-weight: 300;
    font-size: 18px;
    list-style: none;
}

.sidepane .info li {
    margin: 10px 0;
}

.sidepane .info a {
    font-weight: 300;
}

/*ENDBLOCK Sidepane*/
/*BLOCK About*/
.about-intro h1 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
}

.about-intro p {
    font-size: 22px;
    line-height: 26px;
}

.about-intro p.motto {
    font-size: 28px;
    line-height: 34px;
}

.timeline {
    vertical-align: top;
    display:inline-block;
    width: 200px;
    margin: 0;
    margin-top: 290px;
}

.timeline text.year {
    fill: #666;
    font-size: 14px;
    text-anchor: start;
}

.timeline text.event {
    font-size: 14px;
    text-anchor: start;
}

.timeline circle.event {
    fill: #FFF;
    stroke: #000;
    stroke-width: 1;
}

.timeline-entries {
    display:inline-block;
    width: 570px;
    list-style: none;

    margin: 20px 0 50px;
    padding: 0;
    border-top: 1px solid #EEE;
    padding-top: 20px;
}

.timeline-entries>li {
    margin: 30px 0;
}

.timeline-entries h3 {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 400;
}

.timeline-entries p {
    font-size: 18px;
    line-height: 24px;
}

.timeline-entries time{
    color: #666;
    font-weight: 400;
}

.timeline-entries .description{
    margin: 12px 0 8px;
}
.timeline-entries .highlights{
    list-style: disc;
    margin: 0 20px;
    padding: 0;
}

.timeline-entries .highlights li{
    font-size: 16px;
    padding: 3px 0;
    line-height: 18px;
}

.timeline-entries .event p,
.timeline-entries .span.yc p{
    font-weight: 400;
    font-size: 16px;
}

/*ENDBLOCK About*/
/*BLOCK Posts/Projects Index*/
.rightpane {
    margin-top: 40px;
    width: 525px;
    display: inline-block;
}
.index-intro {
    margin-bottom: 40px;
    font-size: 20px;
}

.index-intro ol {
    margin: 0;
    padding: 0 25px;
}

.index-intro li {
    margin: 5px 0px;
    font-size: 18px;
}

article {
    margin: 40px 0;
}
article h2 {
    margin: 10px 0 5px;
}

article h2.unpublished a{
    color: #999;
}

article time {
    color: #333; 
    font-size: 16px;
}
article p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Neuton', serif;
    font-weight: 200;
    margin: 5px 0;
}
article p a.link {
    font-size: 18px;
    font-family: 'Neuton', serif;
    font-weight: 200;
    text-decoration: underline;
}

article p a.readmore {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif
    font-weight: 400;
}

article img.half {
    width:260px;
}

article img.full {
    width:500px;
}
/*ENDBLOCK Posts/Projects Index*/
/*BLOCK Post*/
article.post {
    margin-top: 20px;
}

article.post p {
    margin: 15px 0;
}

article.post h1 {
    font-weight: 400;
    margin: 0 0 7px;
}

article.post h1.unpublished {
    color: #999;
}

article.post time {
    margin-bottom: 10px;
    display: block;
}

article.post strong {
    font-weight: 400;
}
article.post a {
    text-decoration: underline;
    font-family: 'Neuton', serif;
    font-weight: 200;
}
article.post ul, article.post ol {
    font-family: 'Neuton', serif;
    font-weight: 200;
    line-height: 28px;
    font-size: 18px;
    margin: 5px 20px;
    padding: 5px;
}

article.post ul {
    list-style-type: circle;
}

article.post h3 {
    font-family: 'Neuton', serif;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 5px;
}
article.post emph {
    font-style: italic;
}
/*ENDBLOCK*/

/*BLOCK Project*/
article.project {
    margin-top: 20px;
}

article.project p {
    margin: 15px 0;
}

article.project h1 {
    font-weight: 400;
    margin: 0 0 7px;
}

article.project h1.unpublished {
    color: #999;
}

article.project time {
    margin-bottom: 10px;
    display: block;
}

article.project strong {
    font-weight: 400;
}
article.project a {
    text-decoration: underline;
    font-family: 'Neuton', serif;
    font-weight: 200;
}
article.project ul, article.project ol {
    font-family: 'Neuton', serif;
    font-weight: 200;
    line-height: 28px;
    font-size: 18px;
    margin: 5px 20px;
    padding: 5px;
}

article.project ul {
    list-style-type: circle;
}

article.project h3 {
    font-family: 'Neuton', serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 5px;
}
article.project emph {
    font-style: italic;
}
/*ENDBLOCK Project*/
