{% extends "splitpane.html" %}
{% load static %}

{%block title%}Brett van Zuiden | About me{%endblock%}

{%block js%}
<script src="{% static 'js/about.js' %}"></script>
{%endblock js%}

{%block contentpane%}
    <div class="about-intro fadein">
        <p class="motto"> My goal is to help people become more thoughtful, happy, and complete versions of themselves.</p>
        <p>
        I love creating mission-driven teams where diverse, talented people can excel individually and work together to change industries. I enjoy encouraging my peers and direct reports to stretch into new challenges and realize how talented they are. And I thrive working in education, where I can dedicate my career to helping children realize their full potential.
        </p>
        <p>
        Outside of work, I cook, dance, hack on a number of side projects, and play soccer and guitar. I currently live in Oakland.
        </p>
    </div>
    <ul class="timeline-entries fadein">
        <li>
            <h3>PM Lead at Clever</h3>
            <time>April 2015 to present</time>
            <p class="description">I am incredibly fortunate to be able to spend my days working on software that helps students learn and teachers teach. I am humbled to be working alongside such a talented and thoughtful team.</p>
            <ul class="highlights">
                <li>Currently lead one of our innovation teams, building out a new line of business for Clever.</li>
                <li>Built the Discovery team from a 2 person experimental initiative into a 12 person cross-functional team and top-level company priority.</li>
                <li>Previously led Clever's school-facing product work, growing our active users from 100,000 to 4.5M over 18 months.</li>
                <li>Built, launched, and scaled Clever Badges, Clever's highest NPS product, now used by 10% of U.S. K-2 students.</li>
                <li>Started and ran a product leadership program to mentor and train coworkers in product management.</li>
            </ul>
        </li>
        <li>
            <h3>Head of Product Management at IFTTT</h3>
            <time>May 2014 to April 2015</time>
            <p class="description">I worked with a team of 12 fantastic engineers and designers to build and grow IFTTT’s consumer products on iOS, Android, and the web. I headed up IFTTT's product roadmap, growth, metrics &amp; user research, and day-to-day process.</p>
            <p class="description">As the first product manager, I established the role of product management at IFTTT, and built out the initial team.</p>
            <ul class="highlights">
                <li>Built out a flagship product (Do) from initial conception to public launch.</li>
                <li>Increased success rate of the web onboarding flow by 43%.</li>
                <li>Coordinated a major brand update and simultaneous launch of 8 new apps across iOS and Android.</li>
                <li>Doubled the clickthrough rate and halved the unsubscribe rate of our email engagement efforts.</li>
            </ul>
        </li>
        <li>
            <h3>Founder and CEO at Filepicker.io</h3>
            <time>January 2012 to April 2014</time>
            <p class="description">
                As the CEO, I drove the product, business, and technical direction of the company; as a
                founder, I did everything from UX design, fundraising, and hiring to coding the iOS product, 
                content marketing, and customer support.
            </p>
            <ul class="highlights">
                <li>Grew the company to 13 people and an AMR of $600,000 with over 1,000 customers.</li>
                <li>Participated in the YCombinator batch of Summer 2012.</li>
                <li>Raised $1.8mn from Andreessen Horowitz and other investors.</li>
                <li>Reached profitability in 18 months.</li>
                <li>Sold to Xenon Ventures in spring of 2014.</li>
            </ul>
        </li>
        <li>
            <h3>S.B. in Computer Science and Electrical Engineering at MIT</h3>
            <time>August 2008 to June 2012</time>
            <p class="description">
                GPA: 5.0/5.0. Minors in Mechanical Engineering, Mathematics.
            </p>
            <ul class="highlights">
                <li>McGovern Award for significant impact on entrepreneurship - MIT, 2012</li>
                <li>Top 5 Graduating MIT computer scientists - ThePhenomList, 2012</li>
                <li>Whitelaw Prize for Originality of Design - MIT, 2010</li>
            </ul>
        </li>
    </ul>
</div>
{%endblock%}

{%block sidepane%}
{{block.super}}
<div class="timeline fadein">
    <svg id="timeline-graphic" width="200" height="1400" viewBox="0 0 200 1400"></svg>
</div>
{%endblock%}
