{% extends "splitpane.html" %}
{% load staticfiles %}

{%block title%}Brett van Zuiden | About me{%endblock%}

{%block js%}
<script src="{% static 'js/about.js' %}"></script>
{%endblock js%}

{%block contentpane%}
    <div class="about-intro fadein">
        <h1>We can give people superpowers.</h1>
        <p class="motto">Great products can take someone totally beyond what they thought they could do, which is why creating them is so much fun.</p>
        <p>
        Growing up, I dreamed of becoming a "door-to-door inventor" &mdash; I imagined talking to people about the problems they had and then designing devices to solve them. I never quite shook that dream, and am fortunate that my journey so far as a software engineer, startup founder, and product manager has let me do this at scale.
        </p>
        <p>
        Outside of work, I cook, dance, perform theater, hack on a number of side projects, and play piano. I currently live in San Francisco.
        </p>
    </div>
    <ul class="timeline-entries fadein">
        <li>
            <h3>Product Manager at Clever</h3>
            <time>April 2015 to present</time>
            <p class="description">I am incredibly fortunate to be able to spend my days working on software that helps students learn and teachers teach. I am humbled to be working alongside such a talented and thoughtful team.</p>
        </li>
        <li>
            <h3>Head of Product Management at IFTTT</h3>
            <time>May 2014 to April 2015</time>
            <p class="description">I worked with a team of 12 fantastic engineers and designers to build and grow IFTTT’s consumer products on iOS, Android, and the web. I headed up IFTTT's product roadmap, growth, metrics &amp; user research, and day-to-day process.</p>
            <p class="description">As the first product manager, I established the role of product management at IFTTT, and built out the initial team.</p>
            <ul class="highlights">
                <li>Built out a flagship product (Do) from initial conception to public launch.</li>
                <li>Increased success rate of the web onboarding flow by 43%.</li>
                <li>Coordinated a major brand update and simultaneous launch of 8 new apps across iOS and Android.</li>
                <li>Doubled the clickthrough rate and halved the unsubscribe rate of our email engagement efforts.</li>
            </ul>
        </li>
        <li>
            <h3>Founder and CEO at Filepicker.io</h3>
            <time>January 2012 to April 2014</time>
            <p class="description">
                As the CEO, I drove the product, business, and technical direction of the company; as a
                founder, I did everything from UX design, fundraising, and hiring to coding the iOS product, 
                content marketing, and customer support.
            </p>
            <ul class="highlights">
                <li>Grew the company to 13 people and an AMR of $600,000 with over 1,000 customers.</li>
                <li>Participated in the YCombinator batch of Summer 2012.</li>
                <li>Raised $1.8mn from Andreessen Horowitz and other investors.</li>
                <li>Reached profitability in 18 months.</li>
                <li>Sold to Xenon Ventures in spring of 2014.</li>
            </ul>
        </li>
        <li>
            <h3>S.B. in Computer Science and Electrical Engineering at MIT</h3>
            <time>August 2008 to June 2012</time>
            <p class="description">
                GPA: 5.0/5.0. Minors in Mechanical Engineering, Mathematics.
            </p>
            <ul class="highlights">
                <li>McGovern Award for significant impact on entrepreneurship - MIT, 2012</li>
                <li>Top 5 Graduating MIT computer scientists - ThePhenomList, 2012</li>
                <li>Whitelaw Prize for Originality of Design - MIT, 2010</li>
            </ul>
        </li>
    </ul>
</div>
{%endblock%}

{%block sidepane%}
{{block.super}}
<div class="timeline fadein">
    <svg id="timeline-graphic" width="200" height="1050" viewBox="0 0 200 1050"></svg>
</div>
{%endblock%}
