{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="Copyright" content="Brett van Zuiden" />
        <meta name="keywords" content="Brett van Zuiden, about me, resume, product manager" />
        <meta name="description" content="{%block description%}{%endblock%}" />
        <meta name="og:site_name" content="Brettcvz.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {%block og_tags%}{%endblock%}

        <!-- Favicons -->
        <!-- TODO -->
        <link rel="apple-touch-icon" href="/s/img/icon-touch.e4872c4da341.png">
        <link rel="icon" sizes="192x192" href="/s/img/icon-touch.e4872c4da341.png">
        <link rel="shortcut icon" href="/s/img/favicon.6dbf28c0650e.ico">

        <title>{%block title%}Brett van Zuiden | Maker, Hobbyist, Optimist{%endblock%}</title>
        <link href='//fonts.googleapis.com/css?family=Dosis:400,600|Josefin+Sans:300,400,600|Neuton:200,200italic,300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {%block css%}{%endblock%}
    </head>
    <body>
        <div class="wrapper">
            {%block body%}
            {%endblock%}
            <div class="push"></div>
        </div>
        <footer>&copy; Brett van Zuiden</footer>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58839547-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-58839547-1');
		</script>
    </body>
</html>
