{% extends "splitpane.html" %}

{%block title%}Brett van Zuiden | My favorite corners of the internet{%endblock%}

{%block contentpane%}
<article class="post">
  <h1>My favorite corners of the internet</h1>
  <p>In the age of search engines and social media, it feels a bit quaint to maintain a catalog of links, but hopefully it will help a reader or two discover something new.</p>

  <h3>Interesting perspectives on tech</h3>
  <ul>
    <li><a target="st" href="https://stratechery.com/">Stratechery</a></li>
    <li><a target="ad" href="https://alexdanco.com/">Alex Danco</a></li>
    <li><a target="be" href="https://www.ben-evans.com/">Benedict Evans</a></li>
    <li><a target="hn" href="https://news.ycombinator.com/">HackerNews</a></li>
    <li><a target="rod" href="https://www.eugenewei.com">Remains of the Day</a></li>
  </ul>
  <h3>Interesting perspectives on non-tech</h3>
  <ul>
    <li><a target="ssc" href="https://slatestarcodex.com/">StarSlateCodex</a></li>
    <li><a target="wbw" href="https://waitbutwhy.com/">WaitByWhy</a></li>
    <li><a target="sg" href="https://seths.blog/">Seth Godin</a></li>
    <li><a target="lw" href="https://www.lesswrong.com">LessWrong</a></li>
    <li><a target="rf" href="https://www.ribbonfarm.com/for-new-readers/">RibbonFarm</a></li>
    <li><a target="twd" href="https://andrewsullivan.substack.com/">The Weekly Dish</a></li>
    <li><a target="tss" href="https://scholars-stage.blogspot.com/">The Scholar's Stage</a></li>
    <li><a target="sa" href="https://www.scottaaronson.com/blog/">Scott Aaronson</a></li>
  </ul>
  <h3>Hobbies</h3>
  <ul>
    <li><a target="tsp" href="http://www.tastespotting.com">Tastespotting</a></li>
    <li><a target="se" href="https://www.seriouseats.com">SeriousEats</a></li>
    <li><a target="jg" href="https://www.justinguitar.com">JustinGuitar</a></li>
  </ul>
  <h3>Comics & Just for fun</h3>
  <ul>
    <li><a target="smbc" href="https://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a></li>
    <li><a target="xkcd" href="http://xkcd.com/">XKCD</a></li>
    <li><a target="ec" href="http://existentialcomics.com/">Existential Comics</a></li>
    <li><a target="hpmor" href="http://www.hpmor.com/">Harry Potter and the Methods of Rationality</a> (and the "sequel," <a target="sd" href="http://www.anarchyishyperbole.com/p/significant-digits.html">Significant Digits</a>)</li>
  </ul>
</article>
{%endblock%}
