{% extends "base.html" %}
{% load staticfiles %}
{%block title%}Brett van Zuiden | Maker, Hobbyist, Optimist{%endblock%}

{%block body%}
<div id="content">
    <div id="opener" class="fadein">
        <img class="headshot" src="http://www.gravatar.com/avatar/3ccacf24c4f98c47c5346f6d09135d9c.png&s=100" alt="A picture of me">
        <p id="intro">
        Hi, my name is <strong>Brett van Zuiden</strong>.
        <br/>I am a maker, a hobbyist, and an optimist.
        <br/>I live in San Francisco.
        </p>
    </div>
    <div class="segment fadein" id="about">
        <h2><a href="{%url 'about'%}">About</a></h2>
        <div class="details">
            <ul id="main-points">
                <li>Product Manager at <a href="http://ifttt.com">IFTTT</a></li>
                <li>Founding CEO of <a href="http://filepicker.io">Filepicker.io</a></li>
                <li>Studied <abbr title="Electrical Engineering and Computer Science">EECS</abbr>, Math, and Mechanical Engineering at MIT</li>
            </ul>
            <a class="more" href="{% url 'about'%}">More about me &rsaquo;</a>
        </div>
    </div>
    <div class="segment fadein" id="posts">
        <h2><a href="{% url 'posts:index'%}">Posts</a></h2>
        <div class="details">
            <ul id="top-posts">
                {%for post in top_posts%}
                <li>
                    <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                    <p>
                    {{post.preview|removetags:"strong p a"|safe|truncatechars:400}} <a class="readmore" href="{{post.get_absolute_url}}">&rsaquo;</a>
                    </p>
                </li>
                {%endfor%}
            </ul>
            <a class="more" href="{% url 'posts:index'%}">See all posts &rsaquo;</a>
        </div>
    </div>
    <!--
    <div class="segment fadein" id="projects">
        <h2><a href="{% url 'projects:index'%}">Projects</a></h2>
        <div class="details">
            <ul id="top-projects">
                <li class="expanded">
                    <img src="http://placehold.it/280x150">
                    <h4><a href="#TODO">Uber Button</a></h3>
                    <p>Summon a car with a big red button.</p>
                </li>
                <li class="expanded">
                    <img src="http://placehold.it/280x150">
                    <h4><a href="#TODO">Personal Dashboard</a></h3>
                    <p>Timely information made glanceable.</p>
                </li>
            </ul>
            <a class="more" href="{% url 'projects:index'%}">See all projects &rsaquo;</a>
        </div>
    </div>
    -->
    <div class="segment fadein" id="contact">
        <h2>Contact</h2>
        <div class="details">
            <a href="mailto:brettcvz@gmail.com">Brettcvz@gmail.com</a> &bull;
            <a href="http://www.linkedin.com/in/brettcvz">LinkedIn</a> &bull;
            <a href="http://github.com/brettcvz">Github</a>
        </div>
    </div>
</div>
{%endblock%}
