{% extends "base.html" %}
{% load staticfiles %}
{%block title%}Brett van Zuiden | Maker, Hobbyist, Optimist{%endblock%}

{%block body%}
<div id="content">
    <div id="opener" class="fadein">
        <img class="headshot" src="http://www.gravatar.com/avatar/3ccacf24c4f98c47c5346f6d09135d9c.png&s=100" alt="A picture of me">
        <p id="intro">
        Hi, my name is <strong>Brett van Zuiden</strong>.
        <br/>I am a maker, a hobbyist, and an optimist.
        <br/>I live in San Francisco.
        </p>
    </div>
    <div class="segment fadein" id="about">
        <h2><a href="{%url 'about'%}">About</a></h2>
        <div class="details">
            <img id="timeline" src="http://placehold.it/600x50" alt="A timeline of my career">
            <ul id="main-points">
                <li>Product Manager at <a href="http://ifttt.com">IFTTT</a></li>
                <li>Founding CEO of <a href="http://filepicker.io">Filepicker.io</a></li>
                <li>Studied EECS, Math, and Mechanical Engineering at MIT</li>
            </ul>
            <a class="more" href="{% url 'about'%}">More about me &rsaquo;</a>
        </div>
    </div>
    <div class="segment fadein" id="posts">
        <h2><a href="{% url 'posts:index'%}">Posts</a></h2>
        <div class="details">
            <ul id="top-posts">
                <li>
                    <h3><a href="#TODO">Strong Opinions, Weakly Held</a></h3>
                    <p>This is body copy that makes up the beginning of the post and goes on for a number
                    of lines, before stopping at the end of the second line where there is no more text ...</p>
                </li>
                <li>
                    <h3><a href="#TODO">Where the wild things are</a></h3>
                    <p>This is body copy that makes up the beginning of the post and goes on for a number
                    of lines, before stopping at the end of the second line where there is no more text ...</p>
                </li>
                <li>
                    <h3><a href="#TODO">Designing a personal website</a></h3>
                    <p>This is body copy that makes up the beginning of the post and goes on for a number
                    of lines, before stopping at the end of the second line where there is no more text ...</p>
                </li>
            </ul>
            <a class="more" href="{% url 'posts:index'%}">See all posts &rsaquo;</a>
        </div>
    </div>
    <div class="segment fadein" id="projects">
        <h2><a href="{% url 'projects:index'%}">Projects</a></h2>
        <div class="details">
            <ul id="top-projects">
                <li class="expanded">
                    <img src="http://placehold.it/280x150">
                    <h4><a href="#TODO">Uber Button</a></h3>
                    <p>Summon a car with a big red button.</p>
                </li>
                <li class="expanded">
                    <img src="http://placehold.it/280x150">
                    <h4><a href="#TODO">Personal Dashboard</a></h3>
                    <p>Timely information made glanceable.</p>
                </li>
            </ul>
            <a class="more" href="{% url 'projects:index'%}">See all projects &rsaquo;</a>
        </div>
    </div>
</div>
{%endblock%}
