{% extends "base.html" %}
{%block body%}

<div id="content">
    <div class="sidepane fadein">
        <h3><a href="{%url 'home'%}">Brett van Zuiden</a></h3>
        <nav>
            <a href="{%url 'posts:index'%}">Posts</a> |
            <a href="{%url 'projects:index'%}">Projects</a> |
            <a href="{%url 'about'%}">About</a>
        </nav>
        {%block sidepane%}
        <ul class="info">
			<li>I work as Head of Product at <a href="https://tryonce.com">Once</a>.</li>
            <li>I used to work at <a href="https://clever.com">Clever</a>, <a href="https://outschool.com">Outschool</a>, &amp; <a href="https://summitps.org">Summit</a></li>
            <li>Contact me at <a href="mailto:brettcvz@gmail.com">brettcvz@gmail.com</a></li>
        </ul>
        {%endblock%}
    </div>
    <div class="rightpane fadein">
        {%block contentpane%}
        {%endblock%}
    </div>
</div>
{%endblock%}
